@import 'main/main.scss';
@import 'main/media.scss';
@import 'main/keyframes.scss';
@import './modules/variable.scss';

    .header{
        height: 80px;
        position: fixed;
        width: 100%;
    z-index: 10000;
    background-color: #fff;
        .container{
            width: 100%;
         max-width: 1170px;
         margin: 0 auto;
         display: -webkit-box;
         display: -ms-flexbox;
         display: flex;
         height: 80px;
         -webkit-box-pack: justify;
             -ms-flex-pack: justify;
                 justify-content: space-between;
         -webkit-box-align: center;
             -ms-flex-align: center;
                 align-items: center;
                 .header-title{
                    font-size: 25px;
                    font-family: 'Open Sans', sans-serif;
                    @media (max-width: 860px)
                     {
                  margin: 20px;
                      }
                  }
                  
                  .header-ul{
                    display: -webkit-box;
                    display: -ms-flexbox;
                    display: flex;
                    font-size: 20px;
                    margin-left: 80px;
                   color:$color-grey03;
                   @media (max-width: 860px)
                    {
                       display: none;
                     } 
                   
                    .header-a{
                        
                            margin-left: 80px;
                            color:$color-grey03;
                            &:hover{
                                color: #D3D3D3
                            }
                        }
                   }  
                
     }
    }


    .container2 {
        max-width: 1227px;
        margin: 0 auto;
        .box1{
            display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    .box1-image{
        max-width: 950px;
        margin-top: 8px;
        width: 100%;;
@media (max-width: 860px)
 {
    margin: 20px;
}
    }
           
        }
        .box2{
            max-width: 1170px;
    margin: 0 auto;
    width: 100%;
    .box2-h5{
        font-size: 15px;
        margin-top: 71px;
        margin-left: 100px;
        @media (max-width: 980px){
            margin-left: 20px;
        }
    }
    .box2-title{
        font-size: 23px;
        margin-left: 100px;
        margin-top: 20px;
        font-family: 'Open Sans Condensed', sans-serif;
    @media (max-width: 980px){
         margin-left: 20px;
    }
    }
    .box2-p{
        margin: 20px auto;
        @media (max-width: 980px){
            margin-left: 20px;
            max-width: 1000px;
        }
    }
        }
      
    }
 

    .container3{
        display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    padding-top: 50px;
    width: 100%;
    margin: 0 auto;
    @media (max-width: 860px){
        flex-wrap: wrap;
    }
    .section1{
        max-width: 400px;
    margin-right: 101px;
    @media (max-width: 860px){
        margin: 0;
    }
    .section1-image{
        height: 300px;
    max-width: 400px;
    }
    .section1-h5{
        font-size: 15px;
    margin-top: 20px;
    margin-bottom: 10px;
    }
    .section1-title{
        font-size: 25px;
    margin-bottom: 10px;
    font-family: 'Open Sans Condensed', sans-serif;
    }
    .section1-p{
        max-width: 400px;
    }
    }
    .section2{
        max-width: 400px;
        .section2-image{
            height: 300px;
            @media (max-width: 860px){
                margin-right: 9px;
                margin-top: 20px;
                margin-bottom: 20px;
            }
    max-width: 400px;
        }
        .section2-h5{
            font-size: 15px;
            margin-top: 20px;
            margin-bottom: 10px;
        }
        .section2-title{
            font-family: 'Open Sans Condensed', sans-serif;
            font-size: 25px;
            margin-bottom: 10px;
        }
        .section2-p{
            margin-bottom: 20px;
        }
    }
    }


    .section {
        max-width: 1170px;
        height: 200px;
        background: $color-grey03;
        margin: 0 auto;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        .form {
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            -webkit-box-orient: vertical;
            -webkit-box-direction: normal;
            -ms-flex-direction: column;
            flex-direction: column;
            height: 100px;
            .label {
                font-size: 28px;
                margin: 10px auto;
                font-family: 'Open Sans Condensed', sans-serif;
            }
            .input {
                outline: none;
                background-color: #D3D3D3;
                border-bottom: 3px solid;
                width: 314px;
                margin-top: 54px;
            }
        }
    }
    

    .div-button {
        height: 80px;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        max-width: 1170px;
        width: 100%;
        margin: 0 auto;
        .button {
            height: 50px;
            width: 151px;
            font-size: 20px;
            font-family: 'Open Sans Condensed', sans-serif;
        }
    }





    .footer {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -ms-flex-pack: distribute;
        justify-content: space-around;
        font-size: 15px;
        height: 70px;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        background-color: #D3D3D3;
        width: 100%;
        font-family: 'Open Sans Condensed', sans-serif;
        .footer-div {
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
        }
    }



    @media(max-width:  860px){
       .header-ul{
         display: none;
       } 
    }
    @media(max-width: 980px){
       
    }
    @media(max-width: 600px){
        
        
    
    }
    

    .section01{
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        max-width: 1170px;
        margin: 20px auto;
        -ms-flex-pack: distribute;
        justify-content: space-around;
        @media (max-width: 860px){
            flex-wrap: wrap;
        }
        .wrapper1{
            max-width: 400px;
            .wrapper1-image{
                max-width: 400px;
                border: 2px solid;
                height: 277px;
            }
            .wrapper1-title{
                font-size: 25px;
                margin-bottom: 15px;
                margin-top: 20px;
            }
  

        }
        .wrapper2{
            max-width: 400px;
            .wrapper2-image{
               max-width: 400px;
                border: 2px solid;
                @media (max-width: 860px){
                    margin-top: 20px;
                }
              
            }
            .wrapper2-title{
                font-size: 25px;
                margin-bottom: 15px;
                margin-top: 20px;
            }
  
        }
    }